@model IEnumerable<Practica_5.Models.ESTUDIANTE>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrera)
        </td>
        <td>
            @Html.ActionLink("Verificar Materias","Mostrar_Materias",new {id_estudiante=item.ID_estudiante})
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_estudiante }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_estudiante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_estudiante })
        </td>
    </tr>




}

</table>
